* {
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
  }
  
  html,
  body {
    height: 100%;
    padding: 0;
    margin: 0;
  }
  
  /* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
  .wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 130px;
    overflow: auto;
  }
  
  /* The footer is positioned at the bottom of the page */
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100px;
    background: #4e5d6c;
  }